<div class="modal">
    <h2 class="modal__title">{{ titles.modal }}</h2>
    <div class="modal__container">
        <label for="">
            <span class="label__title #firstName">Имя</span>
            <input type="text">
        </label>
        <label for="">
            <span class="label__title #lastName">Фамилия</span>
            <input type="text">
        </label>
    </div>
    <button class="button button_title button_modal" (click)="onClick.emit()">{{ titles.button }}</button>
</div>